/LifetableIncrement.pdf
/LifetableIncrement.synctex.gz
/tmp
/bibliography.bib.bak
/MainText.pdf
/2518.pdf
/LifetableIncrement.log
/LifetableIncremen.synctex.gz
/LifetableIncrement.aux
/ReplyReviewers.pdf
/ReplyReviewers.synctex.gz
/LifetableIncrement.bbl
/LifetableIncrement.blg
/ReplyReviewers2.pdf
/ReplyReviewers2.synctex.gz
